<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <script src = "/voiceRec.js" defer></script>
    <title>Voice copy paste</title>
</head>
<body>
    <header>
        <h1>SMASHY</h1>
        <span>Copy paste using voice recognition</span>
    </header>

    <div class = "speechButtons">
        <btn type="button" id="listenCopyButton" class="listenCopyButton">
            <p class = "copyText hidden" id="copyText">Select text first and say COPY!</p>
        </btn>
    
        <btn type="button" id="listenPasteButton" class="listenPasteButton">
            <p class = "pasteText hidden" id="pasteText">Select an area to paste and say SMASH!</p>
        </btn>
    </div>
    
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Hic nostrum expedita aperiam accusamus, nesciunt quae consequuntur est, 
            dolorum excepturi itaque delectus labore quo earum repellat! Eius beatae culpa harum repudiandae.
        </p>

        <textarea></textarea>
        <textarea></textarea>
    </section>

</body>
</html>