@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Quintessential&family=Roboto+Serif:wght@500&display=swap');

* {
    margin: 0 auto;

    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
}

header {
    width: 30%;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

p {
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

span {
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.listenCopyButton::before,
.listenPasteButton::before {
    content: '';
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px;
}

.listenCopyButton::before {
    background-image: url('/img/copy.png');
}

.listenPasteButton::before {
    background-image: url('/img/paste.png');
}

.listenCopyButton,
.listenPasteButton {
    width: 150px;
    height: 150px;
    display: block;
    background-color: rgb(145, 168, 215);
    border-radius: 20px;
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.15s ease-in;
    box-shadow: inset 0 0 10px 1px #989898, 0 0 17px 1px #ababab;
}

.listenCopyButton:hover,
.listenPasteButton:hover {
    opacity: 0.9;
    transform: scale(1.07);
    cursor: pointer;
}

.listenCopyButton:active,
.listenPasteButton:active {
    transform: scale(1.15);
}

.copyText,
.pasteText {
    font-size: 1.3em;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-bottom: -25px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.speechButtons {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

textarea {
    width: 100%;
    height: 100px;
}