@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Quintessential&family=Roboto+Serif:wght@500&display=swap');
@import url("https://use.fontawesome.com/releases/v5.10.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    margin: 0 auto;
    font-family: 'Macondo', cursive;
    color: #ffffff;
}

body {
    margin-left: 150px;
    margin-right: 150px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header {
    width: fit-content;
    border-bottom: 3px solid #8dbeb0;
    margin-bottom: 20px;
    /* color: black; */
}

p {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #000000;
    line-height: 1.8rem;
    word-spacing: 0.2rem;
}

h1 {
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    color: #8dbeb0;
    text-shadow: 1px 1px 1px #000000;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.subTitle {
    font-size: 1.4em;
    font-weight: 800;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

.listenCopyButton::before,
.listenPasteButton::before {
    content: '';
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px;
}

.listenCopyButton::before {
    background-image: url('/img/copy.png');
}

.listenPasteButton::before {
    background-image: url('/img/paste.png');
}

.listenCopyButton,
.listenPasteButton {
    width: 150px;
    height: 150px;
    display: block;
    background-color: rgb(145, 168, 215);
    border-radius: 20px;
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.15s ease-in;
    box-shadow: inset 0 0 10px 1px #989898, 0 0 17px 1px #ababab;
}

.listenCopyButton:hover,
.listenPasteButton:hover {
    opacity: 0.9;
    transform: scale(1.07);
    cursor: pointer;
}

.listenCopyButton:active,
.listenPasteButton:active {
    transform: scale(1.15);
}

.copyText,
.pasteText {
    font-size: 1.3em;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-bottom: -25px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.speechButtons {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

textarea {
    width: 100%;
    height: 100px;
    background-color: #8dbeb0;
    color: black;
    border-radius: 10px;
box-shadow: inset 2px 2px 8px 0 rgb(0 0 0 / 35%), inset -3px -3px 8px 0 rgb(155 196 242 / 50%), 6px 6px 18px 0 rgb(0 0 0 / 0%), -6px -6px 18px 0 rgb(155 196 242 / 0%);
    -webkit-box-shadow: inset 2px 2px 8px 0 rgb(0 0 0 / 35%), inset -3px -3px 8px 0 rgb(155 196 242 / 50%), 6px 6px 18px 0 rgb(0 0 0 / 0%), -6px -6px 18px 0 rgb(155 196 242 / 0%);}

#pop-up {
    display: none;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

#pop-up.show {
    display: block;
}

#pop-up div {
    width: fit-content;
    background: grey;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 25px;
}

#pop-up div p {
    color: white;
    margin: 0;
}

.explanation {
    background-color: #b1fea8b3;
    width: 600px;
    border-radius: 10px;
}

.explanation p {
    color: black;
    /* box-shadow: none; */
    text-shadow: none;
    text-decoration: underline;
    line-height: 1.5rem;
}



/* MIC TOGGLE */

@import url("https://use.fontawesome.com/releases/v5.10.0/css/all.css");

.toggleBarMic {
    width: 100%;
    z-index: 1;
    position: relative;
    display: grid;
    margin-bottom: 20px;
}

.checkboxMic {
    left: -9999999999px;
    position: absolute;
}

.microphone-check {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    width: 13em;
    height: 5em;
    background: #8dbeb0;
    border-radius: 50px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    cursor: pointer;
    box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.35),
        inset -3px -3px 8px 0 rgba(155, 196, 242, 0.5),
        6px 6px 18px 0 rgba(0, 0, 0, 0), -6px -6px 18px 0 rgba(155, 196, 242, 0);
    -webkit-box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.35),
        inset -3px -3px 8px 0 rgba(155, 196, 242, 0.5),
        6px 6px 18px 0 rgba(0, 0, 0, 0), -6px -6px 18px 0 rgba(155, 196, 242, 0);
}

.microphone-icon {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-left: 0.5em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.microphone-icon:before {
    content: "\f130";
    color: #fff;
    font-size: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

input[type="checkbox"]:checked+.microphone-check {
    background: #ff6464;
}

input[type="checkbox"]:checked+.microphone-check .microphone-icon {
    margin-left: 8.5em;
    background: #ff6464;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

input[type="checkbox"]:checked+.microphone-check .microphone-icon::before {
    content: "\f131";
}




.dropdown {
    position: relative;
    width: 250px;
    filter: url(#goo);
    z-index: 5;
    margin-bottom: 30px;
}

.dropdown__face,
.dropdown__items {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
}

.dropdown__face {
    display: block;
    position: relative;
}

.dropdown__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    visibility: hidden;
    list-style-type: none;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    text-align: center;
    display: block;
}

.dropdown__items p,
.dropdown__text {
    color: #000;
font-size: 1.3em;text-shadow: 1px 1px 1px #b3b3b3;
    line-height: 1em;}

.dropdown__items::before {
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: 100%;
    right: 20%;
    height: 40px;
    width: 20px;
}

.dropdown__arrow {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
}

.dropdown input {
    display: none;
}

.dropdown input:checked~.dropdown__items {
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 12;
}

body {
    background-image: linear-gradient(140deg, #e2e2e2, #cdcdcd);
}

svg {
    display: none;
}

@keyframes roll {
    10% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    30% {
      transform: rotateX(120deg) rotateY(240deg) rotateZ(0deg) translateX(40px) translateY(40px);
    }
    50% {
      transform: rotateX(240deg) rotateY(480deg) rotateZ(0deg) translateX(-40px) translateY(-40px);
    }
    70% {
      transform: rotateX(360deg) rotateY(720deg) rotateZ(0deg);
    }
    90% {
      transform: rotateX(480deg) rotateY(960deg) rotateZ(0deg);
    }
  }

  .content {
    margin: auto auto;
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 1500px;
  }
  .die {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-out;
    cursor: pointer;
    transform: rotateX(-53deg);
  }
  .die.rolling {
    animation: roll 3s linear;
  }
  .die[data-face="1"] {
    transform: rotateX(-53deg) rotateY(0deg);
  }
  .die[data-face="2"] {
    transform: rotateX(-53deg) rotateY(72deg);
  }
  .die[data-face="3"] {
    transform: rotateX(-53deg) rotateY(144deg);
  }
  .die[data-face="4"] {
    transform: rotateX(-53deg) rotateY(216deg);
  }
  .die[data-face="5"] {
    transform: rotateX(-53deg) rotateY(288deg);
  }
  .die[data-face="16"] {
    transform: rotateX(127deg) rotateY(-72deg);
  }
  .die[data-face="17"] {
    transform: rotateX(127deg) rotateY(-144deg);
  }
  .die[data-face="18"] {
    transform: rotateX(127deg) rotateY(-216deg);
  }
  .die[data-face="19"] {
    transform: rotateX(127deg) rotateY(-288deg);
  }
  .die[data-face="20"] {
    transform: rotateX(127deg) rotateY(-360deg);
  }
  .die[data-face="6"] {
    transform: rotateX(11deg) rotateZ(180deg) rotateY(0deg);
  }
  .die[data-face="7"] {
    transform: rotateX(11deg) rotateZ(180deg) rotateY(72deg);
  }
  .die[data-face="8"] {
    transform: rotateX(11deg) rotateZ(180deg) rotateY(144deg);
  }
  .die[data-face="9"] {
    transform: rotateX(11deg) rotateZ(180deg) rotateY(216deg);
  }
  .die[data-face="10"] {
    transform: rotateX(11deg) rotateZ(180deg) rotateY(288deg);
  }
  .die[data-face="11"] {
    transform: rotateX(11deg) rotateY(-252deg);
  }
  .die[data-face="12"] {
    transform: rotateX(11deg) rotateY(-324deg);
  }
  .die[data-face="13"] {
    transform: rotateX(11deg) rotateY(-396deg);
  }
  .die[data-face="14"] {
    transform: rotateX(11deg) rotateY(-468deg);
  }
  .die[data-face="15"] {
    transform: rotateX(11deg) rotateY(-540deg);
  }
  .die .face {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 -50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86px solid rgba(255, 255, 255, 0.75);
    width: 0px;
    height: 0px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    counter-increment: steps 1;
  }
  .die .face:before {
    content: counter(steps);
    position: absolute;
    top: 21.5px;
    left: -100px;
    color: rgb(68, 68, 68);
    text-shadow: 1px 1px 3px rgb(96, 96, 96);
    font-size: 43px;
    text-align: center;
    line-height: 77.4px;
    width: 200px;
    height: 86px;
  }
  .die .face:nth-child(1) {
    transform: rotateY(0deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg);
  }
  .die .face:nth-child(2) {
    transform: rotateY(-72deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg);
  }
  .die .face:nth-child(3) {
    transform: rotateY(-144deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg);
  }
  .die .face:nth-child(4) {
    transform: rotateY(-216deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg);
  }
  .die .face:nth-child(5) {
    transform: rotateY(-288deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg);
  }
  .die .face:nth-child(16) {
    transform: rotateY(-108deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg);
  }
  .die .face:nth-child(17) {
    transform: rotateY(-36deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg);
  }
  .die .face:nth-child(18) {
    transform: rotateY(36deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg);
  }
  .die .face:nth-child(19) {
    transform: rotateY(108deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg);
  }
  .die .face:nth-child(20) {
    transform: rotateY(180deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg);
  }
  .die .face:nth-child(6) {
    transform: rotateY(360deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg);
  }
  .die .face:nth-child(7) {
    transform: rotateY(288deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg);
  }
  .die .face:nth-child(8) {
    transform: rotateY(216deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg);
  }
  .die .face:nth-child(9) {
    transform: rotateY(144deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg);
  }
  .die .face:nth-child(10) {
    transform: rotateY(72deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg);
  }
  .die .face:nth-child(11) {
    transform: rotateY(252deg) translateZ(75px) translateY(54.18px) rotateX(-11deg);
  }
  .die .face:nth-child(12) {
    transform: rotateY(324deg) translateZ(75px) translateY(54.18px) rotateX(-11deg);
  }
  .die .face:nth-child(13) {
    transform: rotateY(396deg) translateZ(75px) translateY(54.18px) rotateX(-11deg);
  }
  .die .face:nth-child(14) {
    transform: rotateY(468deg) translateZ(75px) translateY(54.18px) rotateX(-11deg);
  }
  .die .face:nth-child(15) {
    transform: rotateY(540deg) translateZ(75px) translateY(54.18px) rotateX(-11deg);
  }
  h2 {
    color: #fafafa;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul > li {
    display: inline-block;
    margin: 10px 10px;
  }
  a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px;
    width: 40px;
    display: inline-block;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #999;
  }
  a.active {
    background-color: #333;
  }
  a:hover {
    background-color: #666;
  }
  a.randomize {
    width: auto;
    margin: 20px 10px;
  }
  