@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Quintessential&family=Roboto+Serif:wght@500&display=swap');
@import url("https://use.fontawesome.com/releases/v5.10.0/css/all.css");


* {
    margin: 0 auto;
    font-family: 'League Spartan', sans-serif;
    color: #ffffff;
}

body {
    background-image: url("/img/dndBackground.jpg");
    background-position: bottom;background-repeat: no-repeat;background-size: cover;margin-left: 150px;
    margin-right: 150px;
}

header {
    width: 30%;
    border-bottom: 3px solid #8996c1;
    margin-bottom: 20px;
    /* color: black; */
}

p {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
text-shadow: 1px 1px 0px #000000;
    line-height: 1.5rem;}

h1 {
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    color: #ff6464;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.subTitle {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #ff6464;
}

.listenCopyButton::before,
.listenPasteButton::before {
    content: '';
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px;
}

.listenCopyButton::before {
    background-image: url('/img/copy.png');
}

.listenPasteButton::before {
    background-image: url('/img/paste.png');
}

.listenCopyButton,
.listenPasteButton {
    width: 150px;
    height: 150px;
    display: block;
    background-color: rgb(145, 168, 215);
    border-radius: 20px;
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.15s ease-in;
    box-shadow: inset 0 0 10px 1px #989898, 0 0 17px 1px #ababab;
}

.listenCopyButton:hover,
.listenPasteButton:hover {
    opacity: 0.9;
    transform: scale(1.07);
    cursor: pointer;
}

.listenCopyButton:active,
.listenPasteButton:active {
    transform: scale(1.15);
}

.copyText,
.pasteText {
    font-size: 1.3em;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-bottom: -25px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.speechButtons {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

textarea {
    width: 100%;
    height: 100px;
    background-color: #d3dcfd;
    color: black;
    border-radius: 10px;
}




/* MIC TOGGLE */

@import url("https://use.fontawesome.com/releases/v5.10.0/css/all.css");

.toggleBarMic {
    width: 100%;
    position: relative;
    display: grid;
    margin-bottom: 20px;
}

.checkboxMic {
    left: -9999999999px;
    position: absolute;
}

.microphone-check {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    width: 13em;
    height: 5em;
    background: #cfd7fa;
    border-radius: 50px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    cursor: pointer;
    box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.35),
        inset -3px -3px 8px 0 rgba(155, 196, 242, 0.5),
        6px 6px 18px 0 rgba(0, 0, 0, 0), -6px -6px 18px 0 rgba(155, 196, 242, 0);
    -webkit-box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.35),
        inset -3px -3px 8px 0 rgba(155, 196, 242, 0.5),
        6px 6px 18px 0 rgba(0, 0, 0, 0), -6px -6px 18px 0 rgba(155, 196, 242, 0);
}

.microphone-icon {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-left: 0.5em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.microphone-icon:before {
    content: "\f130";
    color: #fff;
    font-size: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

input[type="checkbox"]:checked+.microphone-check {
    background: #ff6464;
}

input[type="checkbox"]:checked+.microphone-check .microphone-icon {
    margin-left: 8.5em;
    background: #ff6464;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

input[type="checkbox"]:checked+.microphone-check .microphone-icon::before {
    content: "\f131";
}